html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background: yellow;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #C8C8C8;
    font-family: 'Source Sans Pro', sans-serif
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2em;
    padding: 0 5%;
    margin-top: -70px;
}

.container .card {
    background: #fff 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
    transition: all 0.5s ease;
}

.container .card:hover {
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    transition: all 0.3s ease;
    transform: translate3D(0, -1px, 0);
}

.container .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 300px;
    padding: 20px;
}

.container .card .content a {
    display: block;
    color: black;
}

.container .card__title span {
    display: block;
    margin-bottom: 7px;
    color: #738a94;
    font-size: 12px;
    line-height: 1.15em;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.container .card__title h2 {
    margin: 0 0 0.5em;
    font-size: 20px;
}

.container .card__description p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #15171a;
    font-weight: 100;
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 14px;
}

.container .card__footer .author {
    color: #26a8ed;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
    background-color: #191e27;
    text-align: center;
    height: 40vh;
    min-height: 370px;
}

header h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: #fff;
}

header h2 {
    color: #ddd;
    font-weight: 400;
}

footer {
    color: #191e27;
    padding: 5% 10%;
    margin-top: 30px;
    text-align: center;
}

footer p {
    max-width: 730px;
    margin: 0 auto 20px;
    line-height: 1.5;
}

footer p a {
    border-bottom: 1px solid #191e27;
}
